body {
    background-color: #1A1A2E;
}
a {
    text-decoration: none;
}
.header {
    background-color: #0F3460;
    width: 100%;
}
.name {
    float: left;
    color: #E94560;
    margin-left: 10px;
}
.about, .homepage{
    float: right;
    color: #E94560;
    margin-right: 10px;
}
.about:hover, .homepage:hover {
    color: #1A1A2E;
}
.awal {
    margin-left: 70px;
    margin-top: 60px;
    margin-right: 10px;
    width: 95%;
}
.image {
    float: left;
    text-align: center;
}
.self {
    display: block;
    width: 270px;
    height: 406px;
}
.source {
    margin-top: auto;
    color: #A6DCEF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.source:hover {
    color: #0F3460;
}
.first {
    float: right;
    width: 70%;
}
.hello {
    margin-top: 15px;
    width: 800px;
    font-size: 75px;
    color: #A6DCEF;
    width: auto;
}
.welcome {
    margin-left: 50px;
    color: #A6DCEF;
    margin-top: 5px;
    font-size: 35px;
}
.edu, .contact {
    text-align: center;
    margin-top: 200px;
    color: #A6DCEF;
    font-size: 55px;
}
.background {
    margin-left: auto;
    margin-right: auto;
    width: 910px;
}
.smp {
    float: left;
    margin-right: 75px;
    background-color: #16213E;
    width: 250px;
    height: 250px;
}
.classpic {
    margin-top: 16px;
    width: 120px;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sma {
    float: left;
    background-color: #16213E;
    width: 250px;
    height: 250px;
}
.kuliah {
    float: right;
    background-color: #16213E;
    width: 250px;
    height: 250px;
}
.UIpic {
    margin-top: 16px;
    width: 160px;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.class {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: #A6DCEF;
}
.place {
    margin-bottom: auto;
    text-align: center;
    color: #A6DCEF;
}
.contact {
    margin-bottom: auto;
}
.excontact {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 210px;
} 
.line {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 25px;
}
.whatsapp {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 25px;
}
.linkedin {
    float: left;
    width: 50px;
    height: 50px; 
}
.aboutme {
    text-align: center;
    color: #A6DCEF;
    font-size: 55px;
}
.text {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    color: #A6DCEF;
    font-size: 45px;
}
.project {
    margin-left: 15px;
    margin-top: 150px;
    font-size: 50px;
    color: #A6DCEF;
}
.airbus {
    padding-top: 30px;
    padding-bottom: 28px;
    padding-left: 20px;
    background-color: #16213E;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}
.airbuspic {
    float: left;
    display: block;
    width: 200px;
    height: 200px;
    margin-right: 40px;
}
.judul {
    margin-top: auto;
    font-size: 45px;
    color: #A6DCEF;
}
.isi {
    color: #A6DCEF;
    font-size: 30px;
    margin-bottom: auto;
}
.more, .back {
    margin-right: 15px;
    text-align: right;
    font-size: 45px;
    color: #A6DCEF;
    margin-top: 150px;
    text-decoration: underline;
}
.more:hover, .back:hover {
    color: #0F3460;
}
.organization {
    margin-top: 50px;
    margin-left: 15px;
    font-size: 50px;
    color: #A6DCEF;
}
.compfest, .perak {
    padding-top: 30px;
    padding-bottom: 28px;
    padding-left: 20px;
    background-color: #16213E;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}
.compfest .judul {
    margin-top: 15px;
}
.pic {
    float: left;
    display: block;
    width: 200px;
    height: 200px;
    margin-right: 40px;
}
.judul {
    margin-top: auto;
    font-size: 45px;
    color: #A6DCEF;
}
.isi {
    color: #A6DCEF;
    font-size: 30px;
    margin-bottom: auto;
}