{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        <title>About Me</title>
    </head>

    <body>
        <table class="header">
            <tr>
                <td>
                    <h1 class="name">Aryuda Oktawyandra</h1>
                    <a href="{% url 'PPW:index' %}">
                        <h1 class="homepage">Homepage</h1>
                    </a>
                </td>
            </tr>
        </table>

        <h1 class="aboutme">About Me</h1>
        <table class="text">
            <tr>
                <td>
                    <article>I’m a college student of Computer Science at University of Indonesia. I’m a man of focus, commitment, and sheer will</article>
                    <article>Just contact me if you want to know more about me</article>
                    <article>Peace, love, and gaul ;)</article>
                </td>
            </tr>
        </table>
        
        <h1 class="project">Project</h1>
        <table class="airbus">
            <tr>
                <td>
                    <img class="airbuspic" src="https://profile.line-scdn.net/0m0e49d2db725190e555d410aa11cdb98a2971c06c40f7/preview" alt="Airbus">
                    <p class="judul">Airbus</p>
                    <p class="isi">Airbus is a service start-up that provides rental for school needs such as school hats, school ties, lab coats, print your schoolwork, and many more.
                        Unfortunately this start-up just available on my high school only.</p>
                </td>
            </tr>
        </table>

        <a href="{% url 'PPW:more' %}">
            <p class="more">More about me</p>
        </a>

    </body>

</html>