{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
        <title>Organization</title>
    </head>

    <body>
        <table class="header">
            <tr>
                <td>
                    <h1 class="name">Aryuda Oktawyandra</h1>
                    <a href="{% url 'PPW:index' %}">
                        <h1 class="homepage">Homepage</h1>
                    </a>
                </td>
            </tr>
        </table>
        
        <h1 class="organization">Organization Experience</h1>
        <table class="compfest">
            <tr>
                <td>
                    <img class="pic" src="https://pbs.twimg.com/profile_images/1237361109960552449/ssdSXeSS_400x400.jpg" alt="Compfest">
                    <p class="judul">Compfest</p>
                    <p class="isi">COMPFEST is an annual one-stop IT event run by students of the Faculty of Computer Science, University of Indonesia.</p>
                </td>
            </tr>
        </table>

        <br><br>

        <table class="perak">
            <tr>
                <td>
                    <img class="pic" src="https://pbs.twimg.com/profile_images/1208613351615418369/tRyrgKyl_400x400.jpg" alt="PERAK">
                    <p class="judul">PERAK</p>
                    <p class="isi">PERAK is the biggest internal event at Faculty of Computer Science, University of Indonesia which aims to maintain a sense of kinship between elements</p>
                </td>
            </tr>
        </table>

        <a href="{% url 'PPW:about' %}">
            <p class="back">Back</p>
        </a>
        
    </body>

</html>